<div>
  <form [formGroup]="registrationForm" (ngSubmit)="submitHandler()">
    <div class="form-group">
        <label for="">Email</label>
        <input formControlName="email" name="email" placeholder="Email" type="email" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="land">Land</label>
        <input formControlName="land" name="land" placeholder="Land" type="text" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="ort">Ort</label>
        <input formControlName="ort" name="ort" placeholder="Ort" type="text" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="strase">Strase</label>
        <input formControlName="strase" name="strase" placeholder="Strase" type="text" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="PLZ">PLZ</label>
        <input formControlName="PLZ" name="PLZ" placeholder="PLZ" type="number" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="">Datum</label>
        <input formControlName="datum" name="datum" type="date"  class="form-control" >
    </div>
  
  
    <button type="submit">Submit</button>
  </form>
  
  <!-- {{ registrationForm.value | json }} -->
  
  </div>
  