<h2>All List Information</h2>

  <ul  *ngFor="let listinfo of list" >
    <h3 >
      <b>{{listinfo.id}}</b> 
      </h3>
      <li >
      <b>Email</b>  : {{listinfo.email}}
      </li>
      <li>

      <b>Country</b>  :  {{listinfo.land}}
      </li>   
      <li>
    
        <b>City</b>  :  {{listinfo.ort}}
      </li>  
       <li>
        <b>Address</b>  : {{listinfo.strase}}
      </li>
      <li>
        <b>Postal Code</b> :  {{listinfo.PLZ}}
      </li>
      <li>
        <b>Date</b>  : {{listinfo.datum}}
      </li>
      <button (click)="editHandler(listinfo)">Edit</button>
      <button (click)="deleteHandler(listinfo)">Delete</button>
      <hr />

</ul>