ul {
  width: 100%;
  display: flex;
  justify-content: center;
  li {
    padding: 1rem 3rem;
    text-decoration: none;
    list-style : none;
 
    
  }
}

button {
  padding: 1rem 1rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
}