
<div class="container  mt-5 text-left">
  <div >
  <h1 class="text-center">Hello <span class="text-danger">ADMIN</span> </h1>
  <div *ngIf="deleted" class="alert alert-danger text-center" role="alert">
    list  DELETED!
  </div>
    <table >
      <tr>
        <th>Email</th>
        <th>Land</th>
        <th>Ort</th>
        <th>Straße</th>
        <th>PLZ</th>
        <th>Datum</th>
      </tr>
      <tr *ngFor="let listinfo of list" style="margin: 3rem 0rem">
        <td>{{listinfo.email}}</td>
        <td>{{listinfo.land}}</td>
        <td>{{listinfo.ort}}</td>
        <td>{{listinfo.strase}}</td>
        <td>{{listinfo.PLZ}}</td>
        <td>{{listinfo.datum}}</td>
        <button class="ml-5 mt-1 mb-1 btn btn-warning border border-black" (click)="editHandler(listinfo)">Edit</button>
        <button class="ml-5 mt-1 mb-1 btn btn-danger border border-black" (click)="deleteHandler(listinfo)">Delete</button>
      </tr>
    </table>

  </div>
</div>
  

