<div class="container mt-5">
    <div class="text-center">
        <h1 >Edit Form Data</h1>
        <a [routerLink]="['/']" class=" w-100 text-center p-3 bg-secondary text-white mt-5">
            HOME
          </a>
    </div>
   
  
    <h1 class="mt-5">Live update feed :

        <h2>
            {{ registrationForm.value | json }}

        </h2>
    
      </h1>

  <form [formGroup]="registrationForm"  (ngSubmit)="saveHandler()">


    <div class="form-group">
        <label for="">Email</label>
        <input formControlName="email" name="email" placeholder="Email" type="email" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="land">Land</label>
        <input formControlName="land" name="land" placeholder="Land" type="text" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="ort">Ort</label>
        <input formControlName="ort" name="ort" placeholder="Ort" type="text" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="strase">Strase</label>
        <input formControlName="strase" name="strase" placeholder="Strase" type="text" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="PLZ">PLZ</label>
        <input formControlName="PLZ" name="PLZ" placeholder="PLZ" type="number" class="form-control" >
    </div>
  
    <div class="form-group">
        <label for="">Datum</label>
        <input formControlName="datum" name="datum" type="date"  class="form-control" >
    </div>
  
    <button type="submit" class="btn btn-success" >Save</button>
    <button  type="button" class="btn btn-secondary" (click)="goBack()">Return</button>
  </form>

  
  </div>
  