<!-- As a link -->
<nav class="navbar navbar-light bg-danger">
  <a class="navbar-brand text-white" href="#">Navbar</a>
</nav>




<div class="d-flex justify-content-center">
  
  
  <app-formular-form></app-formular-form>
  
  <div class="col-7 mt-5">
    <h1 class="text-center">Bereit, Ihre perfekte Wohnung zu finden? Füllen Sie bitte das Formular aus. </h1>


<table >
  <tr>
    <th>Email</th>
    <th>Land</th>
    <th>Ort</th>
    <th>Straße</th>
    <th>PLZ</th>
    <th>Datum</th>
  </tr>
  <tr *ngFor="let listinfo of list" style="margin: 3rem 0rem">
    <td>{{listinfo.email}}</td>
    <td>{{listinfo.land}}</td>
    <td>{{listinfo.ort}}</td>
    <td>{{listinfo.strase}}</td>
    <td>{{listinfo.PLZ}}</td>
    <td>{{listinfo.datum}}</td>


</table>
</div>
</div>
